[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/pack/tml/start/tcomment"]
	path = .vim/pack/tml/start/tcomment
	url = https://github.com/tomtom/tcomment_vim
[submodule ".vim/bundle/indentLine"]
    path = .vim/bundle/indentLine
    url = https://github.com/Yggdroot/indentLine
[submodule "bin/utils"]
	path = bin/utils
	url = https://github.com/gsavelev/utils
